<div class="sec_name clothes position-relative">
  <div class="overlay position-absolute"></div>
  <div class="text text-capitalize text-center text-white position-absolute">
    <h1 class="text-uppercase">clothes</h1>
    <a class="px-2" href="../index.html" data-page="page01">home</a>
    <span class="px-2">clothes</span>
  </div>
</div>

<!--************* End section name *********************-->                                                                                     

<!---------------- Start section content  ------------------>
<div class="sec_content container">
  <div class="row">
    <div class="sec_head col-12 py-3 my-5 font-weight-bold">
      <div class="float-left text-uppercase">clothes</div>
      <div class="float-right text-capitalize">
        <a href="../index.html" data-page="page01"><i class="fas fa-home fa-lg"></i></a>
        <span class="my_p px-2" >></span>
        <span class="main_color" >clothes</span>
      </div>
    </div>

    <!-------------------- side ------------------>
    <div class="side col-md-3 pb-5">
      <div class="categories">
        <h5 class="text-uppercase py-3" >categories <i class="open_opotions_01 float-right text-black fas fa-plus fa-xs  d-md-none"></i></h5>
        <div class="options_01 text-capitalize d-none d-md-block">
          <ul class=" list-unstyled ml-3 ">
            <a href="clothes.html" data-page="page02"><li>men (135)</li></a>
            <a href="clothes.html" data-page="page02"><li>women (211)</li></a>
            <a href="clothes.html" data-page="page02"><li>kids (174)</li></a>
            <a href="sport.html" data-page="page03"><li>sport (95)</li></a>
            <a href="shoes.html" data-page="page04"><li>shoes (328)</li></a>
            <a href="watches.html" data-page="page05"><li>watches (156)</li></a>
            <a href="bags.html" data-page="page06"><li>bags (279)</li></a>
          </ul>
        </div>
      </div>
      <div class="custom_search">
        <h5 class="text-uppercase py-3" >Colors <i class="open_opotions_02 float-right text-black fas fa-plus fa-xs d-md-none"></i></h5>
        <div class="options_02 text-capitalize d-none d-md-block">
          <form>
            <div class="color ml-3">
              <p class="font-weight-bold">color</p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" >
                <label class="form-check-label" for="defaultCheck1">
                  black (67)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" >
                <label class="form-check-label" for="defaultCheck1">
                  red (37)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" >
                <label class="form-check-label" for="defaultCheck1">
                  blue (112)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" >
                <label class="form-check-label" for="defaultCheck1">
                  yellow (54)
                </label>
              </div>
            </div>
            <button class="my-4 ml-3" type="submit" >search</button>
          </form>
        </div>

      </div>
      <div class="sec_ad p-3 d-none d-md-block">
        <img class="w-100" src="" alt="ad">
      </div>
      
    </div>

    <!-------------------- products ------------------>
    <div class=" products col-md-9">
      <div class="row">
        <!-- foreach product  -->
        <div class="col-md-4 box mb-4">

          <div class="image position-relative overflow-hidden">
            <img class="w-100" src="" alt="img1">
            <img class="top w-100 position-absolute" src="" alt="img1">
            <div class="quickview position-absolute w-100 main_color text-center"><i class="fas fa-eye"></i> Quickview</div>
          </div>
          
          <div class="details">
            <div class="rating">
             <span><i class="fas fa-star fa-xs text-secondary"></i></span>
             <span><i class="fas fa-star fa-xs text-secondary"></i></span>
             <span><i class="fas fa-star fa-xs text-secondary"></i></span>
             <span><i class="fas fa-star fa-xs text-secondary"></i></span>
             <span><i class="fas fa-star fa-xs text-secondary"></i></span>
            </div>
            <p class="name my-0 text-secondary">Product name</p>
            <p class="price font-weight-bold text-danger">$1,256</p>
          </div>

          <div class="option text-secondary border-top py-2">
            <div class="add_chart float-left"><i class="fas fa-shopping-bag"></i>&nbsp; Add to chart</div>
            <div class="fav float-right"><i class="fas fa-heart fa-lg"></i></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>