/* You can add global styles to this file, and also import other style files */
.dBAddNewBtn
{
  font-size: 1.3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
a, button {cursor: pointer;}
.cursorNotAllowed{cursor: not-allowed;}