textarea.comment {
  max-width: 40rem;
  resize: none;
}
.review{
  background-color: #777;
}

.card {
  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px
}
.user-img {
  margin-top: 4px
}
.addRate {
  font-size: 1.5rem;
  color: #ffc107;
}
// rating
.star {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  color: #d3d3d3;
}
.full {
  color: #ffc107 ;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffc107 ;
}



